.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.tagcloud div {
  /* display: block; */
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  width: auto;
}
.tagcloud {
  margin-top: 150px;
  display: inline-block;
  /* border-radius: 50%; */
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  text-decoration: none;
  text-align: center;
  /* z-index: 9999; */
  /* background: -moz-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -webkit-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -o-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -ms-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: linear-gradient(to bottom, #d1e5fd 0%, #3d86f4 100%); */
}
/* 高等院校 */
.tagcloud1 div {
  /* display: block; */
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  width: auto;
}
.tagcloud1 {
  margin-top: 100px;
  display: inline-block;
  /* border-radius: 50%; */
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  text-decoration: none;
  text-align: center;
  /* z-index: 9999; */
  /* background: -moz-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -webkit-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -o-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -ms-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: linear-gradient(to bottom, #d1e5fd 0%, #3d86f4 100%); */
}
/* 大数据 */
.tagcloud2 div {
  /* display: block; */
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  width: auto;
}
.tagcloud2 {
  margin-top: 160px;
  display: inline-block;
  /* border-radius: 50%; */
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  text-decoration: none;
  text-align: center;
  /* z-index: 9999; */
  /* background: -moz-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -webkit-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -o-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -ms-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: linear-gradient(to bottom, #d1e5fd 0%, #3d86f4 100%); */
}
/* IT互联网 */
.tagcloud3 div {
  /* display: block; */
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  width: auto;
}
.tagcloud3 {
  margin-top: 160px;
  display: inline-block;
  /* border-radius: 50%; */
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  text-decoration: none;
  text-align: center;
  /* z-index: 9999; */
  /* background: -moz-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -webkit-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -o-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -ms-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: linear-gradient(to bottom, #d1e5fd 0%, #3d86f4 100%); */
}
/* 城市规划 */
.tagcloud4 div {
  /* display: block; */
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  width: auto;
}
.tagcloud4 {
  margin-top: 100px;
  display: inline-block;
  /* border-radius: 50%; */
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  text-decoration: none;
  text-align: center;
  /* z-index: 9999; */
  /* background: -moz-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -webkit-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -o-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -ms-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: linear-gradient(to bottom, #d1e5fd 0%, #3d86f4 100%); */
}
/* 规划研究院 */
.tagcloud5 div {
  /* display: block; */
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  width: auto;
}
.tagcloud5 {
  margin-top: 160px;
  display: inline-block;
  /* border-radius: 50%; */
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  text-decoration: none;
  text-align: center;
  /* z-index: 9999; */
  /* background: -moz-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -webkit-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -o-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -ms-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: linear-gradient(to bottom, #d1e5fd 0%, #3d86f4 100%); */
}
/* 国土资源 */
.tagcloud6 div {
  /* display: block; */
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  width: auto;
}
.tagcloud6 {
  margin-top: 160px;
  margin-left: 100px;
  display: inline-block;
  /* border-radius: 50%; */
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  text-decoration: none;
  text-align: center;
  /* z-index: 9999; */
  /* background: -moz-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -webkit-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -o-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -ms-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: linear-gradient(to bottom, #d1e5fd 0%, #3d86f4 100%); */
}
.b01 {
  width: 100px;
  height: 100px;
  /* line-height: 100px; */
}
.b02 {
  width: 80px;
  height: 80px;
  /* line-height: 80px; */
}
.b03 {
  width: 60px;
  height: 60px;
  /* line-height: 60px; */
}
.b04 {
  width: 50px;
  height: 50px;
  /* line-height: 50px; */
}
.co01 {
  background: -moz-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -webkit-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -o-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: -ms-linear-gradient(top, #d1e5fd 0%, #3d86f4 100%);
  background: linear-gradient(to bottom, #d1e5fd 0%, #3d86f4 100%);
}
.co02 {
  background: -moz-linear-gradient(top, #b9f8ff 0%, #1de7ff 100%);
  background: -webkit-linear-gradient(top, #b9f8ff 0%, #1de7ff 100%);
  background: -o-linear-gradient(top, #b9f8ff 0%, #1de7ff 100%);
  background: -ms-linear-gradient(top, #b9f8ff 0%, #1de7ff 100%);
  background: linear-gradient(to bottom, #b9f8ff 0%, #1de7ff 100%);
}
.co03 {
  background: -moz-linear-gradient(top, #fff4e2 0%, #ffd79c 100%);
  background: -webkit-linear-gradient(top, #fff4e2 0%, #ffd79c 100%);
  background: -o-linear-gradient(top, #fff4e2 0%, #ffd79c 100%);
  background: -ms-linear-gradient(top, #fff4e2 0%, #ffd79c 100%);
  background: linear-gradient(to bottom, #fff4e2 0%, #ffd79c 100%);
}
.co04 {
  background: -moz-linear-gradient(top, #fef4fa 0%, #fbbae0 100%);
  background: -webkit-linear-gradient(top, #fef4fa 0%, #fbbae0 100%);
  background: -o-linear-gradient(top, #fef4fa 0%, #fbbae0 100%);
  background: -ms-linear-gradient(top, #fef4fa 0%, #fbbae0 100%);
  background: linear-gradient(to bottom, #fef4fa 0%, #fbbae0 100%);
}
.co05 {
  background: -moz-linear-gradient(top, #fedc90 0%, #ffb515 100%);
  background: -webkit-linear-gradient(top, #fedc90 0%, #ffb515 100%);
  background: -o-linear-gradient(top, #fedc90 0%, #ffb515 100%);
  background: -ms-linear-gradient(top, #fedc90 0%, #ffb515 100%);
  background: linear-gradient(to bottom, #fedc90 0%, #ffb515 100%);
}
.co06 {
  background: -moz-linear-gradient(top, #bcf7ca 0%, #1fda4b 100%);
  background: -webkit-linear-gradient(top, #bcf7ca 0%, #1fda4b 100%);
  background: -o-linear-gradient(top, #bcf7ca 0%, #1fda4b 100%);
  background: -ms-linear-gradient(top, #bcf7ca 0%, #1fda4b 100%);
  background: linear-gradient(to bottom, #bcf7ca 0%, #1fda4b 100%);
}
.co07 {
  background: -moz-linear-gradient(top, #f7cdf8 0%, #db43e7 100%);
  background: -webkit-linear-gradient(top, #f7cdf8 0%, #db43e7 100%);
  background: -o-linear-gradient(top, #f7cdf8 0%, #db43e7 100%);
  background: -ms-linear-gradient(top, #f7cdf8 0%, #db43e7 100%);
  background: linear-gradient(to bottom, #f7cdf8 0%, #db43e7 100%);
}
